/*WARNING*/

.dialog-warning {
    color: @warning_fg_color;
    background-color: @warning_bg_color;
    border-color: @warning_fg_color;
    opacity : 0.9;
}

.dialog-warning.flat {
    color: @warning_fg_color;
    background-color: @warning_bg_color;
    border-color: @warning_fg_color;
    opacity: 1;
}

.dialog-warning.flat:hover,
.dialog-warning.flat:active,
.dialog-warning.flat:selected,
.dialog-warning.flat:focus,
.dialog-warning.flat:checked
{
    color: @warning_bg_color;
    background-color: @warning_fg_color;
    opacity: 1;
}

.button-warning.flat {
    color: @warning_fg_color;
    background-color: @warning_bg_color;
    border-color: @warning_fg_color;
    opacity: 1;
}

.button-warning.flat:hover,
.button-warning.flat:active,
.button-warning.flat:selected,
.button-warning.flat:focus,
.button-warning.flat:checked
{
    color: @warning_bg_color;
    background-color: @warning_fg_color;
    opacity: 1;
    outline-color: @warning_bg_color;
}

/*DIALOG_ERROR*/

.dialog-error {
    color: @error_fg_color;
    background-color: @error_bg_color;
    opacity: 0.9;
}

.button-error.flat {
    color: @error_fg_color;
    background-color: @error_bg_color;
    opacity: 1;
}

/*DIALOG_INFO*/

.dialog-safe {
    color: @fg_color;
    background-color: @bg_color;
    opacity : 0.8;
}

.dialog-info {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity : 0.9;
}

.dialog-label-about {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity : 0.9;
}

/*
.button-safe.flat {
    color: @info_fg_color;
    background-color: @info_bg_color;
    border-color: @info_fg_color;
    opacity: 1;
}

.button-safe.flat:hover,
.button-safe.flat:active,
.button-safe.flat:checked
{
    color: @info_bg_color;
    background-color: @info_fg_color;
    opacity: 1;
}
*/

.button-safe.flat {
    color: @nagato_primary_fg_color;
    background-color: @nagato_primary_bg_color;
    border-color: @nagato_primary_fg_color;
    opacity: 1;
}

/*
.chooser-header {
    color: @info_fg_color;
    background-color: @info_bg_color;
    opacity: 0.8;
}
*/
